

body {
    color: rgb(59, 71, 80);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: rgb(34, 149, 153);
    background-color: rgb(72, 72, 94);
    min-width: 50%;
    min-height: 20px;
    font-size: 50px;
}

textarea {
    font-size: xx-large;
    min-width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], textarea {
    background-color: #000;
    color: #fff;
    font-family: Arial;
}